body {
    font-family: "Open Sans", sans-serif;
    color: #777;
    line-height: 1.7;
}

a {
    transition: color .2s linear, border .2s linear;
    text-decoration: none;
    border-bottom: 1px dotted;
    color: #49bf9d;
}

a:hover{
    border-bottom: transparent;
}

p{
    margin: 0 0 2em;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: #787878;
    font-weight: normal;
    margin: 1em 0; /* em - proporcional à fonte, no caso 1x, poderia ser 2, 3...*/
}

h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 26px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 10px;
}

sub, sup {
    font-size: 12px;
}

blockquote {
    border-left: 5px solid #efefef;
    margin: 2em 0;
    padding: .5em 0 .5em 1.5em;
}

blockquote p {
    margin-bottom: .5em;
}

blockquote p:last-child {
    margin-bottom: 0;
}

code {
    background-color: #f7f7f7;
    border-radius: .35em;
    border: 2px solid #efefef;
    font-size: .9em;
    padding: 0.25em 0.65em;
    font-family: "courier new", monospace;
    color: #929292;
}

pre code {
    display: block;
}


ul, ol {
    margin: 0;
    padding: 0;
    padding-left: 1em;
}

li {
    padding-left: .5em;
}

.hidden {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    display: block;
}

.ul-icons {
    list-style-type: none;
    padding: 0;

}

.ul-icons li{
    display: inline-block;
    font-size: 2em;
    color: #49bf9d;
}

input {
    transition: border .4s linear, color .4s linear;
}

input, label, textarea {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

input, textarea, select {
    background-color: #eee;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-bottom: 15px;
}
input[type="radio"], input[type="checkbox"] {
    width: auto;
}

input:focus, textarea:focus{
    border: 2px solid #49bf9d;
    outline: none; /* linha externa do input*/
}

input:hover {
    border: 2px solid #49bf9d;
    color: #49bf9d;
}

textarea {
    height: 10em;
}

.btn-default{
    background-color: #49df9d;
    border: 2px solid;
    border-radius: 8px;
    color: white;
    padding: .75em 1.5em;
    font-size: 1em;
    width: auto;
    transition: all .4s;
    cursor: pointer;
}

.btn-default:hover{
    background-color: #5ddeb9;
    border-color: transparent;
}

.btn-default-stroke {
    background-color: white;
    border-color: #efefef;
    color: inherit;
}

.btn-default-stroke:hover{
    color: #49bf9d;
    border-color: #49bf9d;
    background-color: white;
    border-bottom: 2px solid #49bf9d;
}

.btn-default-small {
    font-size: .65em;
}

.btn-default-full {
    display: block;
    width: 50%;
    text-align: center;
    margin-bottom: 5px;
}

.imagem-link {
    border: 0;
}

.table {
    width: 100%;
    margin: 0 0 2em 0;
    border-collapse: collapse;
}

.table td{
    padding: .75em;
}

.table th {
    text-align: left;
    /* background-color: #ccc; */
    padding: .75em;
}

.table tbody tr:first-child td{
    border-top: 1px solid #555;
}

.table tbody tr:last-child td {
    border-bottom: 1px solid #555;
}

.table tbody tr td{
    border-bottom: 1px solid #ccc;
}

.table tbody tr:nth-child(even) td{
    background-color: #eee;
}

.table-alternate tbody td, .table-alternate tbody tr:last-child td, .table-alternate tbody tr:first-child td{
    border: 1px solid #ddd;
}

.main-header {
    position:fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
    background-image: url(../images/overlay.png), url(../images/bg.jpg);
    background-position: left top;
    background-size: auto, cover;
    text-align: right;
}

.main-header-title {
    font-size: 22px;
    color: rgba(255, 255, 255, .5);
    line-height: 1.5;
    font-weight: normal;
}

.main-header-title strong {
    font-weight: normal;
    color: white;
}

.main-header-link {
    color: inherit; /* propriedade de herança no css, padrão: elemento pai */
}
.main-header-link img {
    border-radius: 50%;
    overflow: hidden;
}

.main-header-link:hover{
    color: #49df9d;
}

.main-content {
    width: 65%;
    margin-left: 35%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
}

.recent-works-cards img{
    border-radius: 10px;
    overflow: hidden;
}

.gallery-img img{
    width: 100%;
}

.gallery-thumb img, .gallery-img img{
    border-radius: 5px;
    margin-bottom: 2%;
}

.img-right {
    float: right;
    
}

.main-footer{
    position: fixed;
    bottom: 0;
    width: 35%;
    left: 0;
    padding: 0 54px 72px 0;
    box-sizing: border-box;
    text-align: right;
    font-size: 13px;
}

.main-footer ul {
    list-style-type: none;
}

.main-footer li {
    display: inline-block;
    padding-right: 5px;
}
.icons-link {
    border: none;
    color: #777;
}

.copyright a {
    color: #777;
}

/* 
.img-left {
    float:left;
    clear: both;
} */
/* Grid */
.row {
    overflow: auto;
}

.col-2 {
    width: 48.5%;
    float: left;
}

.col-2:first-child{
    margin-right: 1.5%;
}

.col-2:last-child{
    margin-left: 1.5%;
}

.col-2-3 {
    width: 66%;
    float: left;

}

.col-1-3 {
    width: 32%;
    float: left;
}

.col-1-3:nth-child(3n-2){
    margin-right: 2%;
}

.col-1-3:nth-child(3n){
    margin-left: 2%;
}

.col-2-3 + .col-1-3, .col-1-3 + .col-2-3 {
    margin-left: 2%;
}