@charset "UTF-8";

html {
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oxygen";
}

.top-header{
    text-align: center;
}

.top-header-logo {
    margin: .5em;
}

.top-nav {
    background-color: #612674;
    text-align: center;
}

.top-nav ul {
    margin: 0;
    padding: 1em 0;
    list-style: none;
}

.top-nav a{
    color: white;
    text-decoration: none;
    padding: 1em;
    display: block;
}

.top-nav a:hover{
    background-color: #7c3792;
}

.top-content {
    padding: 1em;
    text-align: center;
    background-color: #f6f6f6;
}

.top-content-title {
    color: #612674;
    background-color: 1.375em;
    margin: 1.375em;
}

.top-content-subtitle {
    color: #a87bb7;
    font-size: 1em;
    line-height: 1.5;
}

.btn {
    display: inline-block;
    padding: .9em 2.5em;
    background-color: #58c4c4;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s linear; 
}

.btn:hover {
    background-color: #37a0a0;
}

.middle-content {
    padding: 2em;
    background-color: #f6f6f6;
    text-align: center;
}

.middle-content-title {
    font-size: 1.25em;
    color: #652e79;
    text-transform: uppercase;
}

.middle-content p {
    line-height: 1.5em;
    color: #222;
}

.middle-content span[class^=icon]{
    font-size: 3em;
    color: #652e78;
}

.main-content {
    padding: 2em;
}

.main-content p {
    line-height: 1.3;
}

.main-content-article {
    margin-bottom: 3.5em;
    text-align: center;
}

.main-content-title {
    font-size: 1.25em;
    color: #652e79;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: normal;
}

.hidden {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    display: block;
}

.footer {
    background-color: #25303e;
    color: #83969f;
    text-align: center;
    padding-bottom: 2em;
}

.footer-menushare {
    background-color: #303d4c;
    padding: .5em;
}

.footer-menushare ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.footer-menushare li{
    display: inline-block;
    margin: 0 1em;
}

.footer-menushare a{
    font-size: 1.1em;
    text-decoration: none;
    color: white;
}